body {
    font-family: 'Nunito', sans-serif;
}

a{
    background-color: dodgerblue;
    color: #FFF;
    padding: 10px 20px;
    text-decoration: none;
    transition-duration: 200ms;
}

a:hover{
    opacity: .9;
}

div.container{
    max-width: 1380px;
    width: 100%;
    padding: 0 1rem;
    margin: auto;
}

div.btn{
    text-align: center;
    margin: 5rem;
}
