// Variables
$primary: #010409;
$submit: #724e91;
$lightSubmit: #7F5F9B;
$information: #e54f6d;
$shadow: #EBEBEB;
$bgLight: #F5F5F5;

$successBg: #d4edda;
$success: #155724;

$font: 'Nunito', sans-serif;

// Mixin
@mixin button($color: $submit, $secondColor: #FFF){
    background-color: $color;
    color: $secondColor;
    padding: 10px 20px;
}

// Bootstrap
.text-center{
    text-align: center;
}

.success{
    display: inline-block;
    background-color: $successBg;
    color: $success;
    padding: .75rem 1.25rem;
    border-radius: .25rem;
}

// Elements communs
body {
    margin: 0;
    font-family: $font;
    font-size: 1rem;
    background-color: $bgLight;
    *{box-sizing: border-box;}
}

div.container {
    max-width: 1380px;
    padding: 0 20px;
    margin: auto;
    width: 100%;
}

div.left, div.right {
    width: calc(50% - 40px);
    display: inline-block;
    vertical-align: top;
}

a, img, input[type = "submit"] {
    transition-duration: 200ms;
}

a {
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;

    &.login {
        @include button($primary);
    }

    &.button{
        @include button($submit);
        &:hover{
            background-color: $lightSubmit;
        }
    }
    &.back{
        color: $submit;
        font-weight: 600;
        display: inline-flex;
        align-items: center;
        margin-bottom: 1rem;
        img{
            max-width: 30px;
            margin-right: 10px;
        }
        &:hover{
            img{
                transform: translateX(-5px);
            }
        }
    }
    &.account{
        display: inline-flex;
        align-items: center;
        margin-bottom: 1rem;
        img{
            margin-right: 10px;
        }
    }
}

form {
    input, textarea {
        font-family: $font;
        font-size: 1rem;
        padding: 8px 10px;
        width: 100%;
        margin: 5px 0;
    }
    a.submit, input[type = "submit"]{
        border: 0;
        background-color: $submit;
        color: #FFF;
        padding: 10px 20px;
        cursor: pointer;
        &:hover{
            opacity: .9;
        }
    }
    div.bottom{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.divPage{
    margin-bottom: 3rem;
}

// Header
header{
    padding: 1rem;
    padding-left: 2rem;
    background-color: $bgLight;
    margin-left: 30%; //Div left in dashboard width
    .banner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        .button{
            margin-left: auto;
        }
    }
}

// Accueil
div.divWelcome {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

// Dashboard
div.divDashboard{
    height: 100vh;
    div.left{
        width: 30%;
        height: 100%;
        box-shadow: 7px 0 5px 0 $shadow;
        position: fixed;
        top: 0;
        left: 0;
        padding: 1rem;
        color: #FFF;
        background-color: $submit;
        h2{
            font-size: 2rem;
        }
        nav{
            height: 100%;
            ul{
                padding-left: 0;
                height: 90%;
                display: flex;
                flex-wrap: wrap;
                li{
                    list-style: none;
                    a{
                        padding: 1.25rem 1.5rem;
                        color: #FFF;
                        width: 100%;
                        &:hover{
                            background-color: $lightSubmit;
                        }
                    }
                }
            }
            div.top, div.bottom{
                width: 100%;
            }
            div.bottom{
                align-self: end;
            }
        }
    }
    div.right{
        margin-left: 30%; //Div left width
        section{
            margin: 2rem 0;
        }
    }
}
