// Variables
$primary: #010409;
$submit: #724e91;
$information: #e54f6d;
$shadow: #EBEBEB;

$successBg: #d4edda;
$success: #155724;

$font: 'Nunito', sans-serif;

// Mixin
@mixin button($color: $submit, $secondColor: #FFF){
    background-color: $color;
    color: $secondColor;
    padding: 10px 20px;
}

// Bootstrap
.text-center{
    text-align: center;
}

.success{
    display: inline-block;
    background-color: $successBg;
    color: $success;
    padding: .75rem 1.25rem;
    border-radius: .25rem;
}

// Elements communs
body {
    margin: 0;
    font-family: $font;
    font-size: 1rem;
    *{box-sizing: border-box;}
}

div.container {
    max-width: 1380px;
    padding: 0 20px;
    margin: auto;
    width: 100%;
}

div.left, div.right {
    width: calc(50% - 40px);
    display: inline-block;
    vertical-align: top;
}

a, img, input[type = "submit"] {
    transition-duration: 200ms;
}

a {
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;

    &.login {
        @include button($primary);
    }

    &.logout{
        @include button($submit);
    }
}

.divPage{
    margin-bottom: 3rem;
}

// Header
header{
    padding: 1rem;
    background-color: #FFF;
    box-shadow: 0 7px 5px 0 $shadow;
    .banner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        .button{
            margin-left: auto;
        }
    }
}

// Accueil
div.divWelcome {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

// Register
div.divRegister {
    form {
        input, textarea {
            font-family: $font;
            font-size: 1rem;
            padding: 8px 10px;
            width: 100%;
            margin: 5px 0;
        }
        input[type = "submit"]{
            border: 0;
            background-color: $submit;
            color: #FFF;
            padding: 10px 20px;
            cursor: pointer;
            &:hover{
                opacity: .9;
            }
        }
    }
    div.bottom{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

// Dashboard
divDashboard{

}
